@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.container {
  background: white;
  border: 1px solid color.$gray-200;
  box-sizing: border-box;
  box-shadow:
    0 4px 8px -2px rgb(16 24 40 / 10%),
    0 2px 4px -2px rgb(16 24 40 / 6%);
  border-radius: space.$s2;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow {
  border-bottom: 1px solid color.$gray-200;
}

.headerCell {
  padding: space.$s3 space.$s6;
  text-align: left;
  color: color.$gray-500;
  font: font.$text-xs-medium;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: space.$s4 space.$s6;
  border-top: 1px solid color.$gray-200;
}

.paginationButton {
  height: 38px;
  padding: space.$s0 space.$s4;
  background: white;
  border: 1px solid color.$gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;
}

.paginationButton:not(:first-of-type) {
  margin-left: space.$s3;
}

.pageInfo {
  color: color.$gray-500;
  font: font.$text-sm-regular;
}

.pageNumber {
  font: font.$text-sm-medium;
}

.issueFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  flex-wrap: wrap;
  gap: 18px;
}

.issueFilterButton {
  width: 247px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: color.$primary-600;
  color: white;
  border: none;
  cursor: pointer;
}

.issueFilterDropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  color: color.$gray-900;
}

.issueFilterDropdown select {
  width: 160px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid color.$gray-300;
  padding-left: 8px;
}

.issueFilterDropdown input {
  width: 280px;
  height: 44px;
  border: none;
  padding-left: 8px;
}

.issueFilterDropdown input:hover {
  outline: none;
}

.issueFilterDropdownSearch {
  border-radius: 8px;
  border: 1px solid color.$gray-300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  color: color.$gray-500;
}

@media (max-width: breakpoint.$desktop) {
  .issueFilter {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .issueFilterButton {
    order: 2;
    width: 100%;
  }

  .issueFilterDropdown select {
    width: 100%;
  }

  .issueFilterDropdown {
    flex-direction: column;
    order: 1;
    width: 100%;
  }

  .issueFilterDropdownSearch input {
    width: 100%;
  }
}
